<html>
<body>
<h1> this is demo</h1>
<br>
<img src="/image/IMG_20190629_184213.jpg"alt="image not present" width=100 height=100>
<br>
<br>
<br>
<a href="http://www.google.com">click Here</a>
<br>
<br>
<a href="http://www.google.com"> <img src="/image/IMG_20211225_155333.jpg" alt="image not present" width=200 height=200></a>
<br>
<br>
<br>
<table border="1" align="center">
<th>ID</th>
<th>NAME</th>
<tr>
<td>100</td>
<td>abc</td>

</tr>
<tr>
<td>00</td>
<td>pqr</td>
</tr>

<tr>
<td>300</td>
<td>xyz</td>

</tr>

</table>



<form method="get" action="/sayhello">

 <input type="text" name="uname">
<br>
<input type="password" name="pass">
<br>
<input type="submit" value="ok">
</form>


</body>
</html>










